<h1>Home page</h1>

<% if user_signed_in? %>
  <p>Welcome back, <%= current_user.email %>!</p>

  <ul>
    <li><%= link_to "Register this Device for Notifications", register_device_path %></li>
    <li><%= link_to "Manage My Registered Devices", my_devices_path %></li>
  </ul>
<% else %>
  <p>Please log in to manage notifications.</p>
<% end %>
