<h1>My Registered Devices</h1>

<% if @subscriptions.any? %>
  <table>
    <thead>
      <tr>
        <th>Device Registered On</th>
        <th>Endpoint (ID)</th>
      </tr>
    </thead>
    <tbody>
      <% @subscriptions.each do |sub| %>
        <tr>
          <td><%= sub.created_at.strftime("%B %d, %Y at %I:%M %p") %></td>
          <td><%= truncate(sub.endpoint, length: 50) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You have not enabled push notifications on any devices yet.</p>
<% end %>

<%= link_to "Back to Home", root_path %>
