#welcome-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#welcome-title {
    height: 30%;
    text-align: center;
}

#welcome-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 30%;
}

#welcome-log-in-or-sign-up {
    display: flex;
}